html, body {
  height: 100%;
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hovered {
  background-color: #FFEB3B;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  background-color: #FFEB3B;
}